<!DOCTYPE html>
<html>

<head>
    <title>User Login</title>
</head>

<body>
    <form method="POST" action="{% url 'tempuser_login' %}" id="loginForm">
        {% csrf_token %}
        <label for="phone">Phone:</label>
        <input type="text" name="phone" id="phone" required><br>
        <label for="otp">OTP (if received):</label>
        <input type="text" name="otp" id="otp"><br>
        <button type="submit">Submit</button>
    </form>


    <script>
        document.getElementById('otp').addEventListener('input', function () {
            if (this.value === '123456') {
                document.getElementById('loginForm').submit();
            }
        });
    </script>
</body>

</html>