{% extends "subweb-base.html" %}
{% load static %}

{% block title %}
वृक्षारोपण सुझाव
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'plantationtips/css/styles_plantationtips.css' %}">

{% endblock %}

{% block content %}
{% include 'header/headerbar.html' %}
{% include 'header/backbg.html' %}
{% include 'header/header-route.html' with btn_text="सुझाव" %}

<div class="mainContainer">
    <!-- Video Section -->
    <div class="video-container">
        <video controls>
            <source src="{% static 'assets/sujhoVedio/video.mp4' %}"
                type="video/mp4" muted>
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="btn-redirect-addplantation w-full flex justify-end items-center px-4">
        <button onclick="redirectTo('/hi/addplant/')" class="rounded-2xl p-3 px-6 bg-pink-900 bg-opacity-70 test-lg text-white">पेड़ जोड़ें</button>
    </div>

    <script>
        function redirectTo(url) {
            window.location.href = url;
        }
    </script>

    <!-- Paragraph Section -->
    <div class="text-container">
        <h2>राजस्थान में बागवानी</h2>
        <p>राजस्थान की सूखी और अर्ध-सूखी जलवायु की विशेषता के कारण बागवानी करना और इसे बनाए रखना, पौधों के सावधान
            चयन और जल संरक्षण की विशेष तकनीकों की आवश्यकता है। यहां कुछ सुझाव हैं जो इस क्षेत्र में एक सफल बागवानी को
            संभालने में मदद कर सकते हैं:</p>

        <h3>पौधों का चयन</h3>
        <h4>सूखा सहनशील पौधे</h4>
        <p>उन पौधों का चयन करें जो सूखी स्थितियों को सहन कर सकते हैं। स्थानीय पौधे अक्सर सबसे अच्छी विकल्प होते हैं। कुछ उदाहरण
            इस प्रकार हैं:</p>
        <ul>
            <li><strong>वृक्ष</strong>: नीम, पीपल, बाबूल (अकेसिया), और खेजड़ी (प्रोसोपिस सिनेरेरिया)।</li>
            <li><strong>छोटे पौधे</strong>: बुगेनविलिया, ओलिएंडर, और कैसिया।</li>
            <li><strong>फूल</strong>: मेरीगोल्ड, गाजानिया, और जिनिया।</li>
            <li><strong>सक्युलेंट्स/कैक्टस</strong>: एलो वेरा, अगेवे, और विभिन्न कैक्टस प्रजातियां।</li>
        </ul>

        <h4>सब्जियां और जड़ी-बूटियाँ</h4>
        <p>फलीदार सब्जियों में बीन्स, भिंडी, और खीरा के लिए विकल्प चुनें। तुलसी, पुदीना, और रोजमेरी जैसी जड़ी-बूटियाँ भी अच्छे परिणाम
            देती हैं।</p>

        <h3>मिट्टी की तैयारी</h3>
        <ul>
            <li><strong>मिट्टी का समृद्धिकरण</strong>: कार्बनिक कम्पोस्ट या अच्छे से गले हुए खाद को मिलाकर मिट्टी की उर्वरता बढ़ाएं।</li>
            <li><strong>मलचिंग</strong>: स्ट्रॉ या पत्तियों जैसे कार्बनिक मलच का उपयोग करें। इससे नमी का संरक्षण होता है, खाद्य सूखावट
                को दबा देता है, और मिट्टी का तापमान नियंत्रित करता है।</li>
        </ul>

        <h3>जल संरक्षण</h3>
        <ul>
            <li><strong>ड्रिप आईरिगेशन</strong>: पानी को सीधे जड़ों तक पहुंचाने के लिए ड्रिप आईरिगेशन प्रणाली स्थापित करें, जल वाष्पीकरण को
                कम करते हुए पानी की बर्बादी कम करते हैं।</li>
            <li><strong>पानी का अनुसूचना</strong>: सुबह जलाने या शाम को पानी देने से जल वाष्पीकरण को कम किया जा सकता है।</li>
            <li><strong>वर्षा जल संचयन</strong>: सूखे के अवधि में उपयोग के लिए वर्षा जल को एकत्र करें और संभालें।</li>
        </ul>

        <h3>रोपनी तकनीक</h3>
        <ul>
            <li><strong>रोपनी गहराई और अंतर</strong>: सही रोपनी गहराई और उचित अंतर सुनिश्चित करें ताकि हवा की अवधारणा हो सके और संसाधनों के
                लिए प्रतिस्पर्धा कम हो।</li>
            <li><strong>छाया और हवा संरक्षण</strong>: छोटे पौधों के लिए छाया प्रदान करने के लिए छाया नेट्स या अधिक उच्च प्रजातियों का उपयोग
                करें। विंडब्रेक गर्म, सूखी हवाओं से पौधों को संरक्षित करने में मदद कर सकते हैं।</li>
        </ul>

        <h3>रखरखाव</h3>
        <ul>
            <li><strong>नियमित निगरानी</strong>: पौधों को नियमित रूप से तनाव या कीटों के संकेतों के लिए जांचें और शीघ्र कार्रवाई करें।</li>
            <li><strong>काटना</strong>: नियमित रूप से पौधों को काटना, मरे हुए या मर्जी पार्ट्स को हटाने और स्वस्थ वृद्धि को प्रोत्साहित करने के लिए।</li>
            <li><strong>खाद्यन</strong>: जड़ी-बूटी परीक्षण और पौधों की आवश्यकताओं के आधार पर खाद्य प्रदान करें।</li>
        </ul>

        <h3>अतिरिक्त सुझाव</h3>
        <ul>
            <li><strong>गमले और कंटेनर का उपयोग करें</strong>: सुविधाजनक प्रबंधन और चलने के लिए, गमलों और कंटेनर में पौधे उगाने का विचार
                करें।</li>
            <li><strong>सख्त प्रजातियों का चयन करें</strong>: संशोधन करें और राजस्थान की जलवायु के लिए उपयुक्तता और ठोसता के लिए जाने जाने वाले
                पौधों की विविधता का चयन करें।</li>
        </ul>

        <p>इन सुझावों का पालन करके आप राजस्थान की चुनौतीपूर्ण स्थितियों को सहन करने वाले एक फलदार बाग बना सकते हैं।</p>
    </div>
</div>

{% endblock %}
