{% load static %}
 <!-- this is popupfor update  -->
 <div class="notification-box fixed w-full z-50 flex flex-col justify-center items-center h-screen hidden" id="notificationActive" style="background-color: rgba(0,0,0,0.5); top: 0; left: 0;">
    <div class="cross-btn-section w-8/12 md:w-4/12 flex justify-end items-center " style="max-width: 400px;">
        <button class="close-btn bg-white rounded-full p-2 mb-4" onclick="closeNotificationActive()">
            <i class="fas fa-times" style="width: 24px; height: 18px; color: red;"></i>
        </button>
    </div>
    <div id="sub-view" class="sub" style="max-height: 300px;"></div>
        <div id="popup-sub-box" class="notification-subbox w-8/12 md:w-4/12 bg-white rounded-2xl flex flex-col justify-center items-center p-2 pb-5" style="max-width: 400px;">

            <p class="text-xs text-red-800 italic" id="warning-text"></p>
            <div class="treeDetails rounded-lg bg-green-50 p-2">
                <p class="text-center text-lg text-green-900"><span id="nameOfPlantSpan"></span><br> वृक्ष पहचान संख्या : <span>{{endurl}}-</span><span id="idOfPlantSpan"></span></p>
            </div>

            <div class="flex justify-between mt-4  mb-5 w-10/12 md:w-7/12">
                <button class="btn px-6 py-1 bg-pink-100 rounded-lg active:bg-pink-500 active:text-white" id="dead-btn" onclick="toggleActive(this, 'submit-btn')">मृत</button>
                <button class="btn px-6 py-1 bg-green-100 rounded-lg active:bg-green-500 active:text-white" id="alive-btn" onclick="toggleActive(this, 'nextSubmit-btn')">जीवित</button>
            </div>
            <div id="self-deceleration" class="flex items-center mt-2 mb-2 w-10/12 text-sm box-large hidden">
                <input id="selfdeceleration-checkbox" type="checkbox" value="" style="accent-color: #02a518;  width: 40px; height: 40px;">
                <label for="terms-checkbox" class="ml-2">मैं स्व प्रमाणित करता हूँ/ करती हूँ कि मेरे द्वारा लगाया गया पोध सुख चुका है।</label>
            </div>

            <button class="submit-btn mt-4 px-6 py-2 bg-indigo-700 rounded-lg text-white font-bold hidden" id="nextSubmit-btn">आगे बढ़े</button>
            <button class="submit-btn mt-4 px-6 py-2 bg-indigo-700 rounded-lg text-white font-bold" id="submit-btn">सेव करे</button>
        </div> 
         
        <div id="succes-animation" class="hidden sucess-animation w-8/12 md:w-4/12 flex flex-col justify-center items-center bg-white rounded-2xl p-4" style="max-width: 400px;">
            <dotlottie-player src="{% static 'assets/sucess-animation/sucess.lottie' %}" background="transparent" speed="0.9" autoplay loop style="max-width: 200px;"></dotlottie-player>
            <p class="text-xl bg-gradient-to-r from-green-600 to-blue-500 bg-clip-text text-transparent font-bold text-center">
                आपका अपडेट स्वीकृत किया गया है।
            </p>
            <p id="sucess-message" class="text-center text-red-400"></p>
            
        </div> 
</div>

    


    

    <style>
        .btn {
            transition: background-color 0.3s ease;
        }
        .notification-subbox .btn.active {
            background-color: #4caf50; /* Green for active */
            color: white; /* Text color for active */
        }
    </style>
    
    <script>
        function toggleActive(button, buttonToShowId) {
            // Manage active button styles
            const buttons = document.querySelectorAll('.notification-subbox .btn');
            buttons.forEach(btn => btn.classList.remove('active'));
            button.classList.add('active');

            // Show/hide buttons
            const submitButtons = document.querySelectorAll('.submit-btn');
            submitButtons.forEach(btn => btn.classList.add('hidden')); // Hide all submit buttons
            const buttonToShow = document.getElementById(buttonToShowId);
            if (buttonToShow) {
                buttonToShow.classList.remove('hidden'); // Show the correct button
            }
            // Show/hide elf-deceleration
            const selfDeceleration = document.getElementById('self-deceleration');
            if (button.id === 'dead-btn') {
                selfDeceleration.classList.remove('hidden');
            } else {
                selfDeceleration.classList.add('hidden');
            }
        }

        function processbtnclick(btnToClick,urlEnd,treeID,aliveStatus,distCode){
            const deadBtn = document.getElementById('dead-btn');
            const aliveBtn = document.getElementById('alive-btn');
            // console.log(aliveStatus,"243")

            if (deadBtn.classList.contains('active') || aliveBtn.classList.contains('active')) {
                showerrorpopup('');
            } else {
                showerrorpopup('कृपया नीचे दिए गए दोनों विकल्पों में से एक चुनें, यह आवश्यक है। *');
                return 0;
            }

            if (deadBtn.classList.contains('active') && !document.getElementById('selfdeceleration-checkbox').checked) {
                showerrorpopup('स्व प्रमाणीकरण को चेक करना अनिवार्य है।');
                return 0;
            }
            

            fetch('{% url "hiupdate-plant" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        urlEnd: urlEnd,
                        treeID: treeID,
                        alivestatus: aliveStatus,
                        distCode:distCode
                    })
                })
                    .then(response => {
                        if (!response.ok) { // Check if response status is not OK
                            return response.json().then(errorData => {
                                // Throw an error with detailed server response
                                throw new Error(JSON.stringify(errorData));
                                
                            });
                        }
                        return response.json();
                    })
                    .then(data => {
                        // console.log('293 history Success:', data);
                        if (data.alivestatus) {
                            console.log(data)
                            window.location.href = '{% url "himap-validation" %}?treeID='+data.plantid+'&districtcode='+ data.districtcode +'&lat='+data.lat +'&long='+ data.lan;

                        }
                        showScucess(data.message);
                    })
                    .catch(error => {
                        console.error('Error:', error.message);
                        try {
                            const errorDetails = JSON.parse(error.message);
                            console.error('Server Error Details:', errorDetails);
                            showerrorpopup(errorDetails.error[Object.keys(errorDetails.error)[0]][0]);
                            // alert(`Error: ${errorDetails.error}`);
                        } catch {
                            alert(`Error: ${error.message}`);
                        }
                    });
        }
        function showScucess(message=''){
            document.getElementById('popup-sub-box').classList.add('hidden');
            document.getElementById('succes-animation').classList.remove('hidden');
            document.getElementById('sucess-message').textContent = message;
            setTimeout(() => {
                window.location.reload();
                
            }, 2500);
        }

        function showerrorpopup(text){
            const warningText = document.getElementById('warning-text');
            warningText.textContent = text;
        }
    
    </script>


<script>
    function checkdistrictcodetablename(distCode){
        const validCodes = [99, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131];
        try {
            const parsedDistCode = parseInt(distCode);
            if (!validCodes.includes(parsedDistCode)) {
                console.error(parsedDistCode, "is not a valid code table", typeof parsedDistCode);
                return false;
            }
            return parsedDistCode;
        } catch (error) {
            console.error("Error parsing district code:", error);
            return false;
        }
    }

    function openNotificationActive(treeName,treeId,distCode){
        const district_code_clear = checkdistrictcodetablename(distCode);
        if (district_code_clear){
            const notificationActive = document.getElementById('notificationActive');
            notificationActive.classList.remove('hidden');
            document.getElementById('popup-sub-box').classList.remove('hidden');
            document.getElementById('succes-animation').classList.add('hidden');
            document.getElementById('nameOfPlantSpan').textContent = treeName;
            document.getElementById('idOfPlantSpan').textContent = treeId;
            // Dynamically update the onclick for both buttons
            const nextSubmitBtn = document.getElementById('nextSubmit-btn');
            const submitBtn = document.getElementById('submit-btn');
            nextSubmitBtn.setAttribute('onclick', `processbtnclick(this,'{{endurl}}', '${treeId}', true, '${district_code_clear}')`);
            submitBtn.setAttribute('onclick', `processbtnclick(this,'{{endurl}}', '${treeId}', false, '${district_code_clear}')`);
            showerrorpopup('');
        }
        else{
            window.location.href='{% url 'hiupdatedistrictfirst' %}?pid='+treeId+'&tbn='+'{{endurl}}';
        }
    }
    
    function closeNotificationActive(){
        const notificationActive = document.getElementById('notificationActive');
        notificationActive.classList.add('hidden');
        
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const buttons = document.querySelectorAll('.view-image-btn');

        buttons.forEach(button => {
            button.addEventListener('click', function() {
                const imageUrl = this.getAttribute('data-image-url');
                const imgElement = document.createElement('img');
                imgElement.src = imageUrl;
                imgElement.onload = function() {
                    imgElement.classList.add('loaded');
                };
                const parent = this.parentElement;
                parent.innerHTML = '';
                parent.appendChild(imgElement);
            });
        });
    });
</script>
