{% load static %}

<div class="map-viewer-btn">
    <button 
    onclick="redirectToGallery('{{ active }}', '{{ tree.id }}', {{ tree.dict_code.DISTRICT_C }})" 
    class="map_btn text-xs md:text-xl" style="background: rgba(23,138,67,1); color:white;">
        प्रदर्शनी
        <div class="arrow-icon-folder-open" style="margin-left: 10px;">
            <i class="fas fa-folder-open" style="color:white"></i>
        </div>
    </button>
    <button 
    onclick="openNotificationActive('{{ tree.plantation_name }}', '{{ tree.id }}', {{ tree.dict_code.DISTRICT_C }})" 
    class="map_btn text-xs md:text-xl" style="background: rgba(23,138,67,1); color:white;">
        अपडेट
        <div class="arrow-icon" style="margin-left: 10px;">
            <i class="fas fa-cog" style="color:white"></i>
        </div>
    </button>                       
</div>